<ion-view view-title="Create">
  <ion-content>

    <div class="list">
        <form>
          <button class="button button button-positive" ng-click="go('Images')">Images</button>
          <button class="button button button-positive" ng-click="go('Text')">Text</button>
        </form>
    </div>

    <div class="card">
      <div class="item item-divider">
        Your Question :
      </div>
      <a class="item item-input">
        <input ng-model="data.question" type="text" placeholder="your question">
      </a>
    </div>

    <div class="card">
      <div class="item item-divider">
        Your Answers :
      </div>
      <a class="item item-input">
        <input type="text" ng-model="data.thingA" placeholder="first answer">
      </a>
      <!--<h1 class="bar-stable ">or</h1>-->
      <a class="item item-input">
        <input type="text" ng-model="data.thingB" placeholder="second answer">
      </a>
    </div>


    <div class="card">
      <div class="item item-divider">
        Enter all your tags :
      </div>
      <a class="item item-input">
        <input ng-model="data.tags" type="text" placeholder="tags">
      </a>
    </div>


    <ion-button class="button button-balanced button-block" ng-click="submit()">Submit Which!</ion-button>

  </ion-content>
</ion-view>
