<ion-view view-title="{{data.which.question}}" ng-click="back()">
  <ion-pane class="pane">
    <ion-header-bar class="bar-stable">
      <h1 class="title">{{data.which.question}}</h1>
    </ion-header-bar>

    <div data-ng-init="showBothCards()" class="infoHeader">
      <div class="imageInfo" ng-if="data.type === 'image'">
        <h4>Votes: {{data.which.thingAVoteCount}}</h4>
        <img class="imageInfo" ng-if="data.cardSrcA!==''" ng-src="{{data.cardSrcA}}">
      </div>
      <hr>
      <div class="imageInfo" ng-if="data.type === 'image'">
        <h4>Votes: {{data.which.thingBVoteCount}}</h4>
        <img class="imageInfo" ng-if="data.cardSrcB!==''" ng-src="{{data.cardSrcB}}">
      </div>
    </div>
    <!--Still need to work with text-->
    <!--<div class="image" ng-if="data.type === 'text'">-->
      <!--<h2 ng-if="data.cardSrc!==''">{{data.cardSrc}}</h2>-->
    <!--</div>-->

  </ion-pane>
</ion-view>
