<ion-view view-title="Friends">
  <ion-content>

    <div class="card" >

      <div class="item item-divider">
        Add A Friend: <br>
        <p ng-show="message">{{message}}<p>
      </div>

      <a class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="userSearch" placeholder="Username...">
      </a>
      <ion-list>

        <ion-item ng-show="userSearch" ng-click="addFriend(user)" ng-repeat="user in users| filter: userSearch">
          {{user}} 
         <!--  <button class= "button button-balanced" ng-click="addFriend(user)">Add!</button> -->
        </ion-item>
      </ion-list>


    </div>

    <button class="button button-block button-assertive text-right" ng-click="getFriendsWiches()">Get your friends Whiches</button>
    <ion-list>
      <ion-item ng-repeat="friend in friends" >
        <ion-item ng-click="storeId(friend.id)"> {{friend.username}}
      <!--   <button class="button button-calm" ng-click="removeFriend(friend.id)">Remove from Friends</button> -->
        <ion-option-button style="background:red;color:white;" class="button-assertive" ng-click="removeFriend(friend.id)">
          Delete
          </ion-option-button>
        </ion-item>
      </ion-item>
      <ion-item ng-show= "storedId" ng-repeat="which in friendsWhiches |filter : storedId" ng-click="goToWhich(which._id)">
        {{which.question}} 
      </ion-item>
    </ion-list>
      
  </ion-content>
</ion-view>
