<ion-view view-title="Friends">
  <ion-content>

    <div class="card" >

      <div class="item item-divider">
        Enter a username: <br>
        <p ng-show="message">Successfully Added Friend!<p>
      </div>
      <a class="item item-input">
        <input type="text" ng-model="data.userSearch" placeholder="Search for friends...">
      </a>
      <ion-list>
        <ion-item ng-show="data.userSearch" ng-repeat="user in users| filter: data.userSearch" ng-click="addFriend(user)">
          {{user}} 
        </ion-item>
      </ion-list>

    </div>

    <button class="button button-block button-assertive text-right" ng-click="getFriendsWiches()">Get your friends Whiches</button>
    <ion-list>
      <ion-item ng-repeat="friend in friends" >
        <ion-item ng-click="storeId(friend.id)"> {{friend.username}}
        </ion-item>
      </ion-item>
      <ion-item ng-show= "storedId" ng-repeat="which in friendsWhiches |filter : storedId" ng-click="goToWhich(which._id)">
        {{which.question}} 
      </ion-item>
    </ion-list>
      
  </ion-content>
</ion-view>
